<div class="au-c-main-container au-u-padding au-u-flex--column">
  <h2 class="au-u-h2">Contactpunt test</h2>
  <AuHr @size="default" />
  <div class="au-u-margin-top-small">
    <SemanticForms::NewInstance
      @instanceId="contactpunt"
      @form={{this.model}}
    />
  </div>
</div>